<div class="row">
    <div class="col-12">
        <form action="admin/generate-fake-posts" method="POST">
            <h1>Create Posts</h1>
            <div class="form-group">
                <input name="amount" type="number" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>

    </div>
</div>
<div class="row">
    <canvas id="myChart"></canvas>

</div>