<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,800,900%7cRaleway:300,400,500,600,700"
    rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<link rel="stylesheet" href="css/services.css">

<section class="services pt-100 pb-50 mt-4" id="services">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 mx-auto text-center">
                <div class="section-title mb-100">
                    <h4>my services</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <!-- Single Service -->
                <div class="single-service">
                    <i class="fa fa-laptop"></i>
                    <h4>Web Design </h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry typesetting
                        industry </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- Single Service -->
                <div class="single-service">
                    <i class="fa fa-gears"></i>
                    <h4>Web Development</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry typesetting
                        industry </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- Single Service -->
                <div class="single-service">
                    <i class="fa fa-mobile"></i>
                    <h4>Responsive Design</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry typesetting
                        industry </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- Single Service -->
                <div class="single-service">
                    <i class="fa fa-magic"></i>
                    <h4>Graphic Design</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry typesetting
                        industry </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- Single Service -->
                <div class="single-service">
                    <i class="fa fa-pencil"></i>
                    <h4>Creative Design</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry typesetting
                        industry </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- Single Service -->
                <div class="single-service">
                    <i class="fa fa-fa fa-lightbulb-o"></i>
                    <h4>Branding</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry typesetting
                        industry </p>
                </div>
            </div>
        </div>
    </div>
</section>